@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Inika:wght@400;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
h1{
    font-family: 'Inika', cursive;
    color: #C49A6C;
    text-shadow: 2px 2px 4px gray;
    font-size: 70px;
}
h2{
    font-family: 'Lilita One', cursive;
    color: #6D6D6D;
    font-size: 35px;
    font-weight: 500;
}
p{
    font-family: 'Lilita One', cursive;
    color: #6D6D6D;
    font-size: 20px;
    font-weight: 500;
}
nav {
    background-color: #CDE7D8;
}
ul {
    display: flex;
    list-style: none;
    justify-content: left;
    gap: 5%;
    padding: 20px;
}
ul a{
    text-decoration: none;
    color: white;
    font-family: Lilita One, cursive;
    font-weight: 200;
    font-size: 20px;
    padding: 20px;
}
ul a:hover {
    background-color: aliceblue;
    color: #CDE7D8  ;
    padding: 20px;
}
body {
    background-color: #FFF3E6;
    text-align: center;
}
.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    margin: auto;
}
.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}
.collage img:hover {
    transform: scale(1.3);
}
.collage img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.collage img:nth-child(7) {
  grid-column: span 2;
  grid-row: span 2;
}
.collage img:nth-child(10) {
  grid-column: span 2;
  grid-row: span 2;
}
@media (max-width: 768px) {
  .collage {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a8c3b0;
  color: white;
  padding: 15px 30px;
  flex-wrap: wrap;
}

.footer-item {
  margin: 5px;
}

.footer a {
  color: white;
  text-decoration: none;
}
@media (max-width: 768px) { /*S20*/
  
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 45px;
  }

  h2 {
    font-size: 18px;
    padding: 0 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 1024px) { /*ipad*/
  
  footer{
    flex-direction: column;
    text-align: center;
  }
}