@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Inika:wght@400;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
h2{
    font-family: 'Lilita One', cursive;
    color: #C49A6C;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
nav {
    background-color: #CDE7D8;
}
ul {
    display: flex;
    list-style: none;
    justify-content: left;
    gap: 5%;
    padding: 20px;
}
ul a{
    text-decoration: none;
    color: white;
    font-family: Lilita One, cursive;
    font-weight: 200;
    font-size: 20px;
    padding: 20px;
}
ul a:hover {
    background-color: aliceblue;
    color: #CDE7D8  ;
    padding: 20px;
}
body {
    background-color: #FFF3E6;
}
.catalogo {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
}
.amimo {
    width: 90%;
    background-color: #FADADD;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
h2{
    padding: 20px;
    font-size: 50px;
    color: #C49A6C;
    text-shadow: 2px 2px 4px gray;
}
h3{
    font-family: 'Lilita One', cursive;
    color: #6D6D6D;
    font-size: 25px;
    font-weight: 200;
    padding: 3px;
}
}
.amimo:hover {
    transform: scale(1.05);
}
h4 {
  font-family: 'Lilita One', sans-serif;
  background-color: #ff6b6b;
  color: white;
  padding: 15px 35px;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

h4:hover {
  background-color: #ff4b4b;
  transform: scale(1.1);

}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a8c3b0;
  color: white;
  padding: 15px 30px;
  flex-wrap: wrap;
}

.footer-item {
  margin: 5px;
}

.footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .catalogo {
    grid-template-columns: 1fr;
  }  
  .amimo {
    width: 86%;
  }

}

@media (max-width: 1024px) {
  .catalogo {
    grid-template-columns: repeat(2, 1fr);
  }
  .amimo {
    width: 92%;
  }
  h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }
}
